<ion-header>
  <ion-toolbar>
    <ion-title>Aniadir</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>Nombre y apellidos de miembro</ion-label>
  <ion-input name="name" #name type="text" [(ngModel)]="human.name"></ion-input>
  <ion-label>Puesto laboral</ion-label>
  <ion-input name="position" type="text" #position [(ngModel)]="human.status"></ion-input>
  <ion-label>Edificio</ion-label>
  <ion-input name="building" type="text" #building [(ngModel)]="human.building"></ion-input>
  <ion-label>Nombre de foto</ion-label>
  <ion-input name="photo" type="text" #photo [(ngModel)]="human.picture"></ion-input>
  <ion-button (click)="createUser(human)">Crear</ion-button>
</ion-content>